* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first {
    position: sticky;
    top: 0;
}

.nav1 {
    background-color: gray;
    display: flex;
    width: 100%;
    /* justify-content: center; */
    text-align: center;
    box-shadow: 0 0 30px 0 gray;
    
}

.icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 20px;
}

.icon:hover {    
    background-color: gray;
    box-shadow: 0 0 20px 0 gold;
}

.link {
    margin-top: 50px;
    margin-left: 110px;
    color: white;
}

.link:hover {
    color: gold;
    background-color: white;
}

.sign {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    background-color: white;
    border: 3px solid;
    border-color: gold;
    height: 50px;
    margin-top: 35px;
    margin-left: 170px;
}

.sign:hover {
    background-color: black;
    box-shadow: 0 0 20px 0 gold;
    color: gold;
}

.log {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    background-color: white;
    border: 3px solid;
    border-color: gold;
    height: 50px;
    margin-top: 35px;
    margin-left: 40px;
}

.log:hover {
    background-color: black;
    box-shadow: 0 0 20px 0 gold;
}

.signin {    
    color: gray;
}

.signin:hover {    
    color: gold;
}

.container {
    justify-content: center;
    text-align: center;
}

.table {
    display: table;
}

.row {
    display: table-row;
    padding: 10px;
    
}

.cell1 {
    display: table-cell;
    width: 50%;
    padding: 10px;
    padding-top: 50px;
}

.cell2 {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.ready {
    border: 5px solid;
    border-color: gray;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 gray;
    padding: 20px;
    
}

.intro {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.icon2 {
    border: 5px solid;
    border-color: gray;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 gray;
    padding: 20px;
}

.icon2:hover {    
    background-color: gray;
    box-shadow: 0 0 20px 0 gold;
}

.second {
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
}

.welcome {
    font-weight: 900;
    font-size: 50px;
}

.description {
    font-weight: bold;
    font-size: 30px;
} 





















.bottom {
    bottom: 0;
    right: 0;
    position: fixed;
}

.nav2 {
    background-color: gray;
    width: 100%;
    text-align: center;
    /* height: 500px; */
    bottom: 0;
}

.whatsapp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.copyright {
    bottom: 0;
    left: 0;
    position: fixed;
}